<section fxLayoutAlign="center center">
  <div>
    <h1 class="title">Reset password</h1>
    <mat-card>
      <form
        [formGroup]="form"
        fxLayout="column"
        fxLayoutGap="10px"
        (ngSubmit)="submitForm()"
      >
        <mat-form-field>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Email"
          >
          <mat-error *ngIf="form.get('email').hasError('required')">
            Email cannot be empty
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">
            Provide valid email
          </mat-error>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
        <button
          mat-raised-button
          class="submitBtn"
          color="primary"
          [disabled]="form.invalid"
        >Send email</button>
        <a mat-button routerLink="/login">Login</a>
      </form>
    </mat-card>
  </div>
</section>
