doctype html
html
  head
  body(style='font-family: Arial; font-size: 12px;')
    div
      h2= title
      p
        | You have requested a password reset, please follow the link below to reset your password.
      p
        | Please ignore this email if you did not request a password change.
      p
      button(style="border-radius: 40px; padding: 20px; color: #fff;")
        a(href=link style="text-decoration: none") Change password